body {
    width: 100%;
    height: 100%;
    font: 400 12px/1.6 "Segoe UI", Tahoma, Arial, sans-serif;
}

.light {
    background-color: #ffffff;
}

.dark {
    background-color: #6a6a6a;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 20px;
    overflow-y: scroll;
}

.row > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

/* Task card formatting */
.panel-heading, .panel-footer {
    padding: 5px 10px;
}

.panel-body {
    padding: 10px;
    word-wrap: break-word;
}

#filterbar {
    margin-top: 20px;
    margin-bottom: 20px;
}

#filterbar .btn-default, .task .btn-default  { background: transparent; border: none;}

/* Lane header text formatting */
.tasklane header h5 {
    margin-top:  5px;
    margin-bottom: 10px;
    font-weight: 700;
}

.tasklane.light header h5 {
    color: #555;
}

.tasklane.dark header h5 {
    color: #ffffff;
}

/* Lane header */
.lane-header {
    padding: 5px 10px;
}

.lane-header.light {
    background-color: #ffffff;
    border-color: #ddd;
}

.lane-header.dark {
    background-color: #444444;
    border-color: #6a6a6a;
}

/* Lane background */
.tasklist {
    margin-bottom: 0px;
}

.tasklist.light {
    background-color: #f5f5f5;
}

.tasklist.dark {
    background-color: #b2b2b2;
}

/* Task card parameters */
li.task {
    padding: 0;
    margin-bottom: 10px;
}

li.task header {
    cursor: move;
    font-weight: bold;
}

li.task footer {
    padding: 3px 7px;
}

.task-notstarted { color: #aaaaaa; }
.task-overdue { color: #dd3333; }
.task-today { color: #6f8eb3; }

li.task.task-medium {
    background-color: #fff;
    border: 1px solid #ccc;
}

li.task.task-private {
    background-color: #FFFFE2;
    border: 1px solid #e6d396;
}

li.task.task-high {
    background-color: #FFDDDD;
    border: 1px solid #FFA8A8;
}

li.task.task-low {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

li.task.task-completed {
    background-color: #ddd;
    border: 1px solid #bbb;
}

.panel-default.light {
    border-color: #ddd;
}

.panel-default.dark {
    border-color: #6a6a6a;
}

.panel-default>.panel-heading-completed {
  color: #333;
  background-color: #E7D4EA;
  border-color: #ddd;
  padding-top: 5px;
  Padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.panel-default>.panel-heading-waiting {
  color: #333;
  background-color: #EBDD82;
  border-color: #ddd;
  padding-top: 5px;
  Padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.panel-default>.panel-heading-progress {
  color: #333;
  background-color: #AFCAD5;
  border-color: #ddd;
  padding-top: 5px;
  Padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.panel-default>.panel-heading-next {
  color: #333;
  background-color: #D9E6CA;
  border-color: #ddd;
  padding-top: 5px;
  Padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.panel-default>.panel-heading-todo {
  color: #333;
  background-color: #D0D4DC;
  border-color: #ddd;
  padding-top: 5px;
  Padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-lg-100 {
    width: 100%
}
.col-lg-50 {
    width: 50%
}
.col-lg-33 {
    width: 33%
}
.col-lg-25 {
    width: 25%
}
.col-lg-20 {
    width: 20%
}
